{% extends 'registrar_eventos.html' %}


{% block page %}Registro de Logística{% endblock %}

{% block body %}
  <form id="logistic-form" action="" method="post" class="w-3/4 sm:w-1/2 xl:w-1/3 mx-auto my-8 shadow pt-4 pb-12 px-8 sm:px-12 md:px-16 lg:px-20 rounded-2xl">
    <div class="flex items-center border-b border-teal-500 pt-2 mt-4">
      <select required class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none">
        <option>--Tipo de Logística--</option>
        <option>Alimentación</option>
        <option>Equipo</option>
        <option>Alojamiento</option>
      </select>
    </div>
    <div class="flex items-center border-b border-teal-500 pt-2 mt-4">
      <svg class="w-6 h-6 dark:text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
      </svg>      
      <input required class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="Proveedor" aria-label="provider">
    </div>
    <div class="flex items-start border-b border-teal-500 pt-2 mt-4">
      <svg class="w-6 h-6 dark:text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
      </svg>      
      <textarea required class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none h-16 resize-none" type="text" placeholder="Comentarios Adicionales" aria-label="comments"></textarea>
    </div>
  </form>

  {% block buttons %}
    <div class="flex flex-wrap gap-4 mt-8 justify-evenly">
      <a href="{{ url_for('registrar_evento') }}" class="pagination-btn">
        Evento
      </a>
      <a href="{{ url_for('registrar_participante') }}" class="pagination-btn">
        Participantes
      </a>
      <a href="{{ url_for('registrar_invitaciones') }}" class="pagination-btn">
        Invitaciones
      </a>
      <a class="selected-pagination-btn">
        Logística
      </a>
      <a href="{{ url_for('confirmar_registro') }}" class="pagination-btn">
        Confirmación
      </a>
    </div>
  {% endblock %}

{% endblock %}
