{% extends 'index.html' %}

{% block title %}Proyecto U4{% endblock %}

{% block nav_items %}
  <a href="{{ url_for('index') }}" class="nav-link">Inicio</a>
  <a href="{{ url_for('registrar_evento') }}" class="nav-link">Registrar Eventos</a>
  <a href="{{ url_for('ver_eventos') }}" class="selected-nav-link" aria-current="page">Ver Eventos</a>
{% endblock %}

{% block mobile_nav_items %}
<a href="{{ url_for('index') }}" class="mobile-nav-link">Inicio</a>
<a href="{{ url_for('registrar_evento') }}" class="mobile-nav-link">Registrar Eventos</a>
<a href="{{ url_for('ver_eventos') }}" class="mobile-selected-nav-link" aria-current="page">Ver Eventos</a>
{% endblock %}

{% block page %}Eventos{% endblock %}

{% block body %}
<div class="w-full">
  {% if events %}
    <table class="w-auto mx-auto my-4">
      <tbody>
        <tr>
          <th class="w-1/4 px-4 py-2 border-teal-500 border items-center text-start">Id Evento</th>
          <th class="w-1/4 px-4 py-2 border-teal-500 border items-center text-start">Título</th>
          <th class="w-1/4 px-4 py-2 border-teal-500 border items-center text-start">Tipo</th>
          <th class="w-1/4 px-4 py-2 border-teal-500 border items-center text-start">Más Información</th>
        </tr>
      {% for event in events %}
        <tr>
          <td class="w-1/4 px-4 py-2 border-teal-500 border items-center text-start">{{ event['id'] }}</td>
          <td class="w-1/4 px-4 py-2 border-teal-500 border items-center text-start">{{ event['title'] }}</td>
          <td class="w-1/4 px-4 py-2 border-teal-500 border items-center text-start">{{ event['type'] }}</td>
          <td class="w-1/4 px-4 py-2 border-teal-500 border items-center text-start">Ver más...</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>
{% endblock %}
